* {
    font-weight: 700;
}

#countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#country {
    text-align: center;
    font-size: 28px;
    color: blue;
    background-color: lightcoral;
    border: 1px solid cyan;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    display: none;

}

.country {
    width: 100px;
    background-color: lightcyan;
    border: 1px solid red;
    padding: 10px;
    margin: 2px;
    border-radius: 6px;
    text-align: center;
}